.advantages {
  min-height: 473px;
  padding: 73px 0 65px 0;
  background-color: #f6f6f6;
  &__wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    text-align: center;
  }
  &__subtitle {
    margin-top: 35px;
    font-weight: 700;
    font-size: 18px;
    color: #0d0d0d;
  }
  &__descr {
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    color: #0d0d0d;
    a {
      text-decoration-line: underline;
      color: #ff0000;
    }
  }
  &__icon {
    &_animated {
      animation-name: heartbeat;
      animation-duration: 1.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}
