.carousel {
  padding: 81px 0;
  &__inner {
    width: 750px;
    margin: 0 auto;
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    background-color: #fff;
    border: none;
    transform: translateY(-50%);
    outline: none;
    img {
      width: 31px;
      height: 50px;
    }
  }
  .prev {
    left: -66px;
  }
  .next {
    right: -66px;
  }
  .tns-item {
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
