@media (max-width: 987px) {
  .consultation {
    &__descr {
      text-align: center;
    }
  }
}

@media (max-width: 800px) {
  .consultation {
    &__descr {
      font-size: 17px;
    }
  }
}

@media (max-width: 550px) {
  .consultation {
    &__descr {
      font-size: 14px;
    }
  }
}

@media (max-width: 450px) {
  .consultation {
    &__descr {
      font-size: 12px;
    }
  }
}