@media (max-width: 987px) {
  .title {
    &_left {
      text-align: center;
    }
  }
}

@media (max-width: 800px) {
  .title {
    &_left {
      font-size: 30px;
    }
  }
}

@media (max-width: 670px) {
  .title {
    &_left {
      font-size: 25px;
    }
  }
}

@media (max-width: 550px) {
  .title {
    &_left {
      font-size: 20px;
    }
  }
}

@media (max-width: 450px) {
  .title {
    &_left {
      font-size: 17px;
    }
  }
}

@media (max-width: 370px) {
  .title {
    &_left {
      font-size: 14px;
    }
  }
}